@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }

fieldset, c{ border:none; }

img{display: block;}

address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }

ul, ol ,li{ list-style:none; }

body { color:#333; font:10px "SimSun","宋体","Arial Narrow",HELVETICA; background:#fff;}

a { color:#666; text-decoration:none; }
/*清除浮动*/
.clear{clear:both}
*{box-sizing:border-box}
body,html{
    height: 100%;
    overflow: hidden;
}

html{font-size:31.25vw;}

.ell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

.of{
    overflow: hidden;
    height:auto;
    color:rgb(233, 233, 233);
};
.to {
    display: -webkit-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    /* width:100%; */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.wd100{
    width:100%;
}
.wd100>img{
    width:100%;
}
.divAImg{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
#root{
    height:100%;
}
.pd{
    padding:0 0.1rem;
}
.bg{
    background:white;
}
.mg{
    margin: .076rem 0;
}
.pt{
    border-bottom: 1px solid #e5e5e5;
}


