html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
input,
button,
img,
select {
    margin: 0;
    padding: 0;
   
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
img {
    vertical-align: top;
    border: none;
}
body { color:#333; font:10px "SimSun","宋体","Arial Narrow",HELVETICA; background:#fff;}

input {
    outline: none;
}

html {
    font-size: 31.25vw;
    height: 100%;
}

.ell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

.of{
    overflow: hidden;
    height:auto;
    color:rgb(233, 233, 233);
};
.to {
    display: -webkit-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    /* width:100%; */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.wd100{
    width:100%;
}
.wd100>img{
    width:100%;
}
.divAImg{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
#root{
    height:100%;
}
.pd{
    padding:0 0.1rem;
}
.bg{
    background:white;
}
.mg{
    margin: .076rem 0;
}
.pt{
    border-bottom: 1px solid #e5e5e5;
}



body {
    height: 100%;
    font-size: 15px;
   
    font-family: PingFang SC,Helvetica,Arial,微软雅黑;
    color: #494949;
}